.languages {
    background: #f4f5f7;
    border-bottom: 1px solid #ddd;
    padding: 1rem 0;

    &__items {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    &__item {
        display: flex;
        justify-content: center;
        flex: 1;
        margin-bottom: 0;
    }

    &__img {
        height: 3rem;
        width: auto;
    }
}